<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Cannot find what you are looking for.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Go To Start Page</a>
    </div>
</div>